body{
    margin:0;
    height: 100%;
    overflow-x: hidden;
    overflow-y:scroll;
    background-image: url("gmips_vec.svg");
    /*background-color: rgb(87, 93, 102);*/
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
    background-attachment: fixed;
}

.navbar-logo{
    /*background-image: url(Picture1.png);*/
    background-size: contain;
    padding-left:2rem;
}

#slides{
    height:inherit;
}

.navbar-button{
    margin-left: auto;
    outline:none;
}

.gmips-font{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(23, 76, 121) !important;
}

.carousel-item{
    align-content: center;
    align-self: center;
    width:100%;
    height:inherit;
    position:relative;
    opacity: 1 !important;
}

.carousel-text{
    color: navy;
    position:absolute;
    top: 50%;
    left:28%;
    transform: translate(-50%,-50%);
    font-size: 6vh;

}

.carousel-fill {
    height:45vh;
    display:grid;
    text-align: center;
    opacity:.98;
}

.img-fluid{
    height:inherit !important;
    width:80%;
    opacity: 1 !important;
}

.bg-mips{
    background-color: rgb(87, 93, 102);
}

.bg-tran{
    opacity:.98;
}

.fixed-bottom{
    text-decoration-color: navy;
    text-align: center;
    background-color: grey;
    height:5vh;

}


.carousel-indicators{

    opacity:.3;
}

#about-us{

    padding-top: 5vh;

}

.bg-light{
    padding-bottom: 5vh;
    margin-bottom: 2vh;
    margin-top:2vh;
}